<% layout("layouts/boilerplate") %>

<body>
    <a href="/listings/<%= listing._id %>"><button class="btn btn-secondary mt-2">Back</button></a>

    <div class="row">
        <div class="col-10 offset-1">
            <div class="border border-dark border-2 rounded-2 mx-5 my-4 p-5 bg-light">
                <h3 class="mb-4 fw-bold">Edit your Listing</h3>

                <form
                    action="/listings/<%= listing._id %>?_method=PUT"
                    method="post"
                    class="needs-validation"
                    enctype="multipart/form-data"
                    novalidate>
                    <!-- Inside the `name` we have created the key of object to names, so we can access it as object in `req.body`. -->
                    <div class="mb-4">
                        <label for="title" class="form-label fw-bold">Title</label>
                        <input
                            type="text"
                            name="listing[title]"
                            id="title"
                            value="<%= listing.title %>"
                            class="form-control border border-2 border-secondary-subtle"
                            required />
                        <div class="invalid-feedback">Title required!</div>
                    </div>

                    <div class="mb-4">
                        <label for="description" class="form-label fw-bold">Description</label>
                        <textarea
                            type="text"
                            name="listing[description]"
                            id="description"
                            class="form-control border border-2 border-secondary-subtle"
                            required><%= listing.description %></textarea>
                        <div class="invalid-feedback">Enter short description!</div>
                    </div>

                    <div class="col-10 offset-1 mb-4">
                        <label class="form-label fw-bold">Current Image</label>
                        <img src="<%= previewImage %>" class="card-img-top object-fit-cover show-img" alt="Listing Image" />
                    </div>

                    <div class="col-10 offset-1 mb-4">
                        <label for="image" class="form-label fw-bold">Upload New Image</label>
                        <input type="file" name="listing[image]" id="image" class="form-control border border-2 border-secondary-subtle" />
                    </div>

                    <div class="row">
                        <div class="mb-4 col-md-4">
                            <label for="price" class="form-label fw-bold">Price</label>
                            <input
                                type="number"
                                name="listing[price]"
                                id="price"
                                value="<%= listing.price %>"
                                class="form-control border border-2 border-secondary-subtle"
                                required />
                            <div class="invalid-feedback">Enter valid price!</div>
                        </div>

                        <div class="mb-4 col-md-8">
                            <label for="country" class="form-label fw-bold">Country</label>
                            <input
                                type="text"
                                name="listing[country]"
                                id="country"
                                value="<%= listing.country %>"
                                class="form-control border border-2 border-secondary-subtle"
                                required />
                            <div class="invalid-feedback">Enter valid country name!</div>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="location" class="form-label fw-bold">Location</label>
                        <input
                            type="text"
                            name="listing[location]"
                            id="location"
                            value="<%= listing.location %>"
                            class="form-control border border-2 border-secondary-subtle"
                            required />
                        <div class="invalid-feedback">Enter valid location!</div>
                    </div>

                    <button class="btn btn-dark w-100 fw-bold border-0 edit-listing-btn">
                        Edit
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>
