<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= listing.title %></title>
  </head>
  <body>
    <h3>Listing Details:</h3>
    <ul>
      <li><%=listing.title%></li>
      <li><%= listing.description%></li>
      <li>&#8377; <%= listing.price.toLocaleString("en-IN") %></li>
      <li><%=listing.location%></li>
      <li><%= listing.country %></li>
    </ul>
  </body>
</html>
