<% layout("layouts/boilerplate") %>

<body>
    <a href="/listings"><button class="btn btn-secondary mt-2">Back</button></a>

    <div class="row">
        <div class="col col-8 offset-2">
            <h3 class="fw-bold"><%= listing.title %></h3>
        </div>

        <div class="col-8 offset-2 my-2 mb-4">
            <img
                src="<%= listing.image %>"
                class="card-img-top object-fit-cover show-img"
                alt="Listing Image" />
            <div class="card-body">
                <p class="card-text text-secondary"><%= listing.description %></p>
                <p class="card-text">&#8377; <%= listing.price.toLocaleString("en-IN") %></p>
                <p class="card-text"><%=listing.location%></p>
                <p class="card-text"><%= listing.country %></p>

                <form
                    action="/listings/<%= listing._id%>/delete?_method=DELETE"
                    method="post"
                    class="d-flex justify-content-between">
                    <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark border-0 px-5">Edit</a>
                    <button class="btn btn-danger px-5">Delete</button>
                </form>
            </div>
        </div>

        <div class="col col-8 offset-2 mb-3">
            <hr />
            <h3 class="fw-bold">Rating & Reviews</h3>
            <form>
                <div class="mb-3 mt-4">
                    <label for="rating" class="form-label fw-bold fs-5 m-0">Rating</label>
                    <input
                        type="range"
                        min="1"
                        max="5"
                        id="rating"
                        class="form-range"
                        name="review[rating]" />
                    <div class="d-flex justify-content-evenly fw-bold">
                        <div class="w-100 text-start">1</div>
                        <div class="w-100 text-center">3</div>
                        <div class="w-100 text-end">5</div>
                    </div>
                </div>
                <div class="mb-3 mt-4">
                    <label for="review" class="form-label fw-bold fs-5 m-0">Review</label>
                    <textarea
                        name="review[review]"
                        id="review"
                        class="form-control"
                        placeholder="Describe your experience"></textarea>
                </div>
                <button class="btn btn-outline-primary fw-bold border-2">Submit</button>
            </form>
        </div>
    </div>
</body>
