<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <!-- This page is a template for showing all posts. -->
    <a href="http://localhost:8080/"><button>Home</button></a>
    <h1>Quora Posts</h1>

    <% for (post of posts){ %>
        <div class="post">
            <h3 class="user">@<%= post.username %></h3>
            <img src="<%= post.imgUrl %>" alt="Image URL">
            <h4 class="caption"><%= post.caption %></h4>
            <p class="content"><%= post.content %></p>

            <a href="http://localhost:8080/posts/<%= post.id %>"><button>See more...</button></a>
            <a href="http://localhost:8080/posts/<%= post.id %>/edit"><button>Edit</button></a>

            <form action="/posts/<%= post.id%>?_method=DELETE" method="post">
                <a href="http://localhost:8080/posts/<%= post.id %>"><button>Delete</button></a>
            </form>
        </div>
        <% } %>
            <br>
            <a href="http://localhost:8080/posts/new"><button>Create New Post</button></a>
</body>

</html>