<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <!-- This page is a template for seeing post in detail  . -->
    <a href="http://localhost:8080/posts"><button>Back</button></a>
    <p>Post ID: <%= post.id %></p>

    <div class="post">
        <h3 class="user">@<%= post.username %></h3>
        <img src="<%= post.imgUrl %>" alt="Image URL">
        <h4 class="caption"><%= post.caption %></h4>
        <p class="content"><%= post.content %></p>
    </div>
</body>

</html>