<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Hi @<%= data.name %> <button>Follow</button> <button>Message</button></h1>
    <h5>
        <p>Followers: <%= data.followers %> &nbsp;&nbsp;&nbsp;&nbsp; Following: <%= data.following %>
        </p>
    </h5>
    <hr>

    <% for (post of data.posts) { %>
        <section>
            <img src="<%= post.image %>" alt="post image">
            <p>Likes <%= post.likes %> &nbsp;&nbsp;&nbsp;&nbsp; Comments <%= post.comments %>
            </p>
        </section>
        <% } %>

</body>
<!-- Linking JS file to particular ejs template. -->
<script src="/style.js"></script>

</html>